*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 header{
    display: flex;
    justify-content: space-around;
    margin: 1rem 2rem;
 }

 .logo{
    height: 40px;
    
 }

  .nav-list{
    margin: 1rem ;
    font-weight: 600;
    font-size: 1rem;
    color: gray;
  }
  .nav-lists{
    font-weight: 600;
    font-size: 1rem;
  }
  .register{
    color: rgb(0, 200, 255);
    border: 2px solid rgba(0, 47, 255, 0.718);
    background-color: transparent;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    
  }
  .block1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
  }

  .block1-text{
    text-transform: capitalize;
    font-size: 2rem;
  }

   .block1-text p{
   color: grey;
   font-size: 1rem;
   margin-top: 0.5rem;
   }

   .package{
    background-color: rgba(89, 89, 167, 0.819);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius:5px;
    text-align: center;
     border-style: none;
     margin-bottom: 2rem;
     margin-top: 1rem;
   }
   .block2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
   }

   .read{
    background-color: rgba(89, 89, 167, 0.819);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius:5px;
    text-align: center;
     border-style: none;
     margin-bottom: 2rem;
     margin-top: 1rem;
   }

   .block3{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
   }
   .block3-text{
    text-transform: capitalize;
    font-size: 2rem;
  }

   .block3-text p{
   color: grey;
   font-size: 1rem;
   margin-top: 0.5rem;
   }

   .block4{
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
   }
   .block4-text{
    text-transform: capitalize;
    font-size: 1.5rem;
   }
  .sub-para{
    color: gray;
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 14rem;
    margin-top: 5rem;
    
  }
  .card {
    width: 30%;  
    margin: 10px;  
    margin-top: 4rem;
  }
  .card-head{
    margin-top: 1rem;
    text-transform: capitalize;
  }

  .card-body{
    margin-top: 0.5rem;
    color: gray;
  }
  .blue{
    margin-top: 5rem;
  }
.blue-section{
    background-color: rgb(98, 131, 230);
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    align-items: center;
}
   

 .cardblue {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
    height: 400px;
    text-align: center;
   
} 
    
   .lowe-text{
    margin-top: 2rem;
   }

   .cardblue p{
    margin-top: 1rem;
    margin-bottom: 1rem;
   }
   button{
    color: rgb(0, 200, 255);
    border: 2px solid rgba(0, 47, 255, 0.718);
    background-color: transparent;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
   }
   .choose {
    background-color: rgba(89, 89, 167, 0.819);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius:5px;
    text-align: center;
     border-style: none;
     margin-bottom: 2rem;
     margin-top: 1rem;
   }
   .headerblue{
    background-color: black;
    color: white;
   }
    .cardblue p {
      color: gray;
    }
  .month{
    color: gray;
  }
   

   .heading7{
    text-align: center;
    margin-top: 5rem;
   }
   .heading7 h2{
    text-transform: capitalize;
   }
   .heading7 p{
    margin-top: 1rem;
    color: gray;
   }

   .blog-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    margin-left: 1rem;
    margin-top: 5rem;
    
   }

   .blog-card{
    width: 35%;  
    height: 50%;
    margin: 30px;  
    margin-top: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;

   }
   .blog-image{
    margin-top: 1.5rem;
   }
   .blog-author{
    margin-top: 1.5rem;
   }

   .lower{
    display: flex;
    background-image: url(/assets/footer-bg.svg);
    height: 15rem;
    justify-content: space-evenly;
    margin-top: 5rem;
   }
   .lower-text{
    margin-top: 3rem;
    color: white;
    font-size: 2.5rem;
   }
 .register-lower{

    color:white;
    border: 2px solid rgba(0, 47, 255, 0.718);
    background-color: transparent;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 10px;
    height: 3rem;
    margin-top: 4rem;

 }
 .footer-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
 }
 .list-items{
    list-style: none;
    margin-top: 1rem;
    color: gray;
 }
 .footer-logos{

    height: 2rem;
    margin-top: 1rem;
    align-items: center;
    
 }
 .footer-right{
 text-align: center;
 }
 .footer-logo{
    height: 40px;
 }


 /* checkbox */


 .green-checkbox {
  display: none; 
}

.green-checkbox + label {
  display: block;
  position: relative;
  padding-left: 25px;  
  cursor: pointer;
  margin-bottom: 10px;  
}

.green-checkbox + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; 
  height: 20px;  
  border: 2px solid #27ae60;  
  border-radius: 50%; 
}

.green-checkbox:checked + label:before {
  background-color: #27ae60;  
}

.green-checkbox + label:after {
  content: '';
  position: absolute;
  left: 6px;  
  top: 2px;  
  width: 5px;  
  height: 10px;  
  border: solid #fff;  
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;  
}

.green-checkbox:checked + label:after {
  opacity: 1;  
}

 